<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="!isRegistering">Napptime | Como funciona?</ion-title>
    <ion-title *ngIf="isRegistering">Cadastro</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="outer-content" #pageTop>

  <ion-slides pager *ngIf="!isRegistering">

    <ion-slide>
      <img src="assets/parte1.png">
    </ion-slide>

    <ion-slide>
      <img src="assets/parte2.png">
    </ion-slide>

    <ion-slide>
      <img src="assets/parte3.png">
    </ion-slide>

    <ion-slide>
      <img src="assets/parte4.png">
    </ion-slide>

    <ion-slide>
      <img src="assets/parte5.png">
    </ion-slide>

    <ion-slide>

      <img src="assets/parte6.png">

        <div padding>
          <button ion-button block (click)="register()">&nbsp;Inscreva-se</button>
        </div>

    </ion-slide>

  </ion-slides>

  <ion-list *ngIf="isRegistering">
    <ion-item>
      <ion-label stacked>E-mail</ion-label>
      <ion-input type="email" [(ngModel)]="email" placeholder="Digite seu e-mail"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Celular</ion-label>
      <ion-input type="text" [(ngModel)]="phone" placeholder="(XX) XXXXX-XXXX" [brmasker]="{phone: true}"></ion-input>
    </ion-item>
    <div padding>
      <button ion-button block (click)="send()" [disabled]="!email && !phone">&nbsp;Enviar</button>
    </div>
  </ion-list>

</ion-content>
