page-home {

}

agm-map {
  height: 250px;
}

bar-rating {
  width: 100%;
  height: 100%;
}

.outer-content {
  background-color: #fcfcfc !important;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
